<header class="navbar">
        <a href="/" class="button-nav">Página Inicial</a>
        <a href="/disciplinas" class="button-nav">Disciplinas</a>
        <a href="/projetos" class="button-nav">Projetos</a>
        <a href="/contato" class="button-nav">Contato</a>
        <a href="/dashboard" class="button-nav">Dashboard</a>
    </header>