<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/sobre.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <title>Sobre | Vinícius Leite</title>
</head>
<body>
    <%- include('partials/header') %>
    <main class="container">
        <div class="top-content">
            <section class="sobre">
                <h2>Sobre:</h2>
                <p>Desenvolvimento de software multiplataforma</p>
                <p>FATEC São José dos Campos - Prof. Jessen Vidal</p>
                <p>Ano de ingresso: 2025</p>
                <p>Tenho interesse na área de dados <br>e ser um desenvolvedor full-stack futuramente</p>
            </section>
            <section class="skills">
                <h2>Soft skills:</h2>
                <ul>
                    <li>Trabalho em grupo</li>
                    <li>Resolução de problemas</li>
                    <li>Colaboração</li>
                </ul>
            </section>
        </div>
    <section class="tecnicas">
        <h2>Competências técnicas:</h2>
        <div class="icons">
            <div class="icon">
               <img src="/images/python-svgrepo-com.svg" alt="Python icon">
               <span>Python</span>
            </div>

            <div class="icon">
                <img src="/images/js-svgrepo-com.svg"  alt="JavaScript icon">
                <span>JavaScript</span>
            </div>

            <div class="icon">
                <img src="/images/typescript-icon-svgrepo-com.svg" alt="TypeScript icon">
                <span>TypeScript</span>
            </div>

            <div class="icon">
                <img src="/images/icons8-html.svg" alt="Html icon">
                <span>HTML</span>
            </div>

            <div class="icon">
                <img src="/images/icons8-css.svg" alt="Css icon">
                <span>CSS</span>
            </div>

            <div class="icon">
                <img src="/images/Flask.svg" alt="Flask icon">
                <span>Flask</span>
            </div>

            <div class="icon">
                <img src="/images/aws-icon.svg" alt="Aws icon">
                <span>Aws</span>
            </div>

            <div class="icon">
                <img src="/images/react-svgrepo-com.svg" alt="React icon">
                <span>React</span>
            </div>

            <div class="icon">
                <img src="/images/mysql-logo-svgrepo-com.svg" alt="Mysql icon">
                <span>MySQL</span>
            </div>
        </div>
    </section>
    </main>
</html>