<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="sobre.css">
    <title>Sobre Mim</title>
</head>
<body>
    <main class="main">
        <h1>Vinícius da Silva Leite</h1>
        <p>Desenvolvimento de software multiplataforma</p>
        <p>FATEC São José dos Campos - Prof. Jessen Vidal</p>
        <p>Ano de ingresso: 2025</p>
        <p>Tenho interrese na área de dados e ser um desenvolvedor full-stack futuramente</p>
    </main>
    <div class="content">
        <h1>Soft skills:</h1>
        <p>Trabalho em grupo, Resolução de problemas, Colaboração</p>
        <h1>Competências técnicas:</h1>
        <img src="/public/images/python-svgrepo-com.svg" alt="Python icon">
        <img src="/public/images/js-svgrepo-com.svg" alt="JavaScript icon">
        <img src="/public/images/typescript-icon-svgrepo-com.svg" alt="TypeScript icon">
        <img src="/public/images/icons8-html.svg" alt="Html icon">
        <img src="/public/images/icons8-css.svg" alt="Css icon">
        <p>Python, JavaScript, TypeScript, HTML, CSS</p>
        <img src="/public/images/Flask.svg" alt="Flask icon">
        <img src="/public/images/aws-svgrepo-com.svg" alt="Aws icon">
        <img src="/public/images/react-svgrepo-com.svg" alt="React icon">
        <p>Flask, AWS, React</p>
        <img src="/public/images/mysql-logo-svgrepo-com.svg" alt="Mysql icon">
        <p>MySQL</p>
    </div>
</html>